Task 4 (Employee Salary Protection)

In [10]:
class Employee:
    def __init__(self, name, salary=0):
        # Private attributes
        self.__name = name
        self.__salary = 0
        self.set_salary(salary)  

    # Getter for name
    def get_name(self):
        return self.__name

    # Setter for salary (positive)
    def set_salary(self, salary):
        if salary > 0:
            self.__salary = salary
        else:
            print("Invalid salary! Salary must be positive.")

    # Method to show employee details
    def show_details(self):
        print(f"Employee Name: {self.__name}")
        print(f"Employee Salary: {self.__salary}")

In [4]:
emp1 = Employee("Farjad", 100000)

In [5]:
emp1.show_details()

Employee Name: Farjad
Employee Salary: 100000

In [6]:
emp1.set_salary(-20000)

Invalid salary! Salary must be positive.

In [7]:
emp1.set_salary(250000)

In [8]:
emp1.show_details()

Employee Name: Farjad
Employee Salary: 250000